!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Una nueva solicitud de clonación de productos de PCR ha sido registrada
    %br
    %br
    %b Solicitante:
    %p #{@name}
    %b Empresa/Institución:
    %p #{@institution}
    %b Correo
    %p #{@mail}
