!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2
      #{@name}
    %h2
      #{@participant_name}
    %p
      Tu solicitud ha sido registrada correctamente y será atendida a la brevedad.
      %br
      %br
        No es necesario que respondas este correo.
      %br
      %br
        Gracias.