.error-explanation
= simple_form_for :date_range, url: requests_clonning_download_xlsx_path,  :html => {multipart: true}  do |f|
  De
  = f.input_field :start_date, class: 'jq-datepicker', value: Date.today.beginning_of_month.strftime('%Y/%m/%d'), autofocus: false
  a
  = f.input_field :end_date, class: 'jq-datepicker', value: Date.today.strftime('%Y/%m/%d'), autofocus: true
  .sp
  %hr
  .t-right
    = submit_tag_fa_button t('commands.download', param: t('titles.xlsx_file'), )

