.error-explanation
= simple_form_for :date_range, url: requests_clonning_xlsx_file_path, remote: true, :html => {multipart: true}  do |f|
  De
  = f.input_field :start_date, as: :string, class: 'jq-datepicker', value: Date.today.at_beginning_of_month
  a
  = f.input_field :end_date, as: :string, class: 'jq-datepicker', value: Date.today
  .sp
  %hr
  .t-right
    =submit_tag_fa_button t('commands.xlsx_download')
