:plain
  $('#delete-dialog').html("#{escape_javascript(render 'layouts/delete_dialog', :record => @requests_cloning)}");
  $('#delete-dialog').dialog({resizable: false, width: 380, modal: true, title: '#{t('titles.delete', param: @requests_cloning.sample_name)}'});
  jqbuttons();
