:plain
  if(!$("#new-dialog").is(":empty")){
    $("#new-dialog").dialog("close");
  }
  $('#record-list').empty();
  $('#record-list').html("#{escape_javascript(render 'record_tbl')}");
  remote_will_paginate();
  jqbuttons();


