#menu
  =render partial: 'layouts/admin_menu'

%h1= t('titles.requests_clonings')

.alert-notice
  =render partial: 'layouts/alert_notice'

=render 'layouts/search', url: requests_clonings_path

%br

#record-list
  =render partial: 'record_tbl'

%br

= link_to_jq_button({url: new_requests_cloning_path, text: t('commands.new'), icon: 'plus'})

-#TODO translate title
#new-dialog{title: t('titles.new_request_cloning')}
#delete-dialog


-#= link_to 'New Cloning', new_requests_cloning_path
