:plain
  $('#xlsx-range').html("#{escape_javascript(render 'xlsx_range')}");
  $('#xlsx-range').dialog({
    title: "#{t("titles.xlsx_range")}",
    width: 480,
    modal: true,
  });
  jqbuttons();
  jqdatepicker();