:plain
  $('#xlsx-range').html("#{escape_javascript(render 'xlsx_range')}");
  $('#xlsx-range').dialog({
    title: "#{t("titles.xlsx_range")}",
    width: 480,
    modal: true,
  });
  jqdatepicker();
  -//If focus is in date inputs jquery calendar dosen't appear on click
  $('[name="commit"]').focus();
  $('[name="commit"]').click(function(){
    $('#xlsx-range').dialog('close');
  })
