@import "compass";
@import "blueprint/grid";
@import "compass/reset";
@import 'font-awesome';

//$blueprint-container-size: 990px;
$font-family: Arial,Helvetica;

$base-color-1: #FF8A00;
$base-color-2: #FFD98F;
$base-color-3: #803000;
$base-color-4: #382500;

html{
  overflow-y: auto;
}

body {
  background: asset-url("header_bg.jpg", image) repeat-x top #ffffff;
  font-family: $font-family;
}

#container{
  width: 990px;
  margin: 0px auto;
}


#header {
  @include column(25);
  background: asset-url("header.jpg", image) no-repeat white;
  height: 220px;
}

#content {
  @include prepend(0.5);
  @include column(24);
  background-color: #ffffff;
  min-height: 600px;
}

#footer {
  clear: both;
  color: $base-color-1;
  line-height: 25px;
  text-align: center;
  font-size: 0.6em;
  padding-top: 2px;
  background: asset-url("footer.jpg", image) repeat-x top #ffffff;
}


h1{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: $base-color-1;
}

h2{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: $base-color-2;
}

h3{
  font-size: 1.2em;
  margin-bottom: 10px;
}

strong{
  font-weight: bold;
}

.alt-0{
  background-color: lighten($base-color-2, 20%);
}

.alt-1{
  background-color: lighten($base-color-2, 12%);
}

.sp{
  clear: both;
  min-height: 15px;
}




.error-explanation, .alert-notice, #delete-dialog {
  .ui-state-error, .ui-state-highlight {
    padding: 5px;
  }
  .icon{
    float: left;
  }
  .message{
    font-weight: bold;
  }
  ul{
    list-style-type: disc;
    padding-left: 2em;
  }
}


// TABLES
@mixin t-base{
  clear: both;
  display: table;
  font-size: 0.85em;
  padding: 3px 0px 3px 0px;
  text-indent: 3px;
}

.t-head{
  font-size: 1.2em;
  font-weight: bold;
  padding: 4px 0px;
  background-color: lighten($base-color-1, 15%);
  div{
    background-color: $base-color-1;
    padding: 2px 0px;
  }
}


.t-cent{
  text-align: center;
}

.t-left{
  text-align: left;
}

.t-right{
  text-align: right;
}

@mixin two-columns($c1, $c2){
  @include t-base;
  .col-1{ @include column($c1); clear: left;}
  .col-2{ @include column($c2); @include last; }
}

@mixin three-columns($c1, $c2, $c3){
  @include t-base;
  .col-1{ @include column($c1); clear: left; margin-buttom: 4px; }
  .col-2{ @include column($c2); }
  .col-3{ @include column($c3); @include last; }
}

@mixin four-columns($c1, $c2, $c3, $c4){
  @include t-base;
  .col-1{ @include column($c1); clear: left; margin-buttom: 4px; }
  .col-2{ @include column($c2); }
  .col-3{ @include column($c3); }
  .col-4{ @include column($c4); @include last; }
}

@mixin five-columns($c1, $c2, $c3, $c4, $c5){
  @include t-base;
  .col-1{ @include column($c1); clear: left; margin-buttom: 4px; }
  .col-2{ @include column($c2); }
  .col-3{ @include column($c3); }
  .col-4{ @include column($c4); }
  .col-5{ @include column($c5); @include last; }
}

@mixin six-columns($c1, $c2, $c3, $c4, $c5, $c6){
  @include t-base;
  .col-1{ @include column($c1); clear: left; margin-buttom: 4px; }
  .col-2{ @include column($c2); }
  .col-3{ @include column($c3); }
  .col-4{ @include column($c4); }
  .col-5{ @include column($c5); }
  .col-6{ @include column($c6); @include last; }
}

@mixin seven-columns($c1, $c2, $c3, $c4, $c5, $c6, $c7){
  @include t-base;
  .col-1{ @include column($c1); clear: left; margin-buttom: 4px; }
  .col-2{ @include column($c2); }
  .col-3{ @include column($c3); }
  .col-4{ @include column($c4); }
  .col-5{ @include column($c5); }
  .col-6{ @include column($c6); }
  .col-7{ @include column($c7); @include last; }
}

@mixin eight-columns($c1, $c2, $c3, $c4, $c5, $c6, $c7, $c8){
  @include t-base;
  .col-1{ @include column($c1); clear: left; margin-buttom: 4px; }
  .col-2{ @include column($c2); }
  .col-3{ @include column($c3); }
  .col-4{ @include column($c4); }
  .col-5{ @include column($c5); }
  .col-6{ @include column($c6); }
  .col-7{ @include column($c7); }
  .col-8{ @include column($c8); @include last; }
}

.t-show{
  @include two-columns(6,18);

  .col-1{
    @extend .t-head;
    @extend .t-right;
    border-bottom: 1px solid #ffffff;
    clear: left;
  }
  .col-2{
    border-bottom: 1px solid lighten($base-color-2, 40%);
  }
}

.ui-menu{
  border-radius: 4px;
  border: solid #ffffff 1px;
  width: 190px;
  z-index : 9999;
  li{
    font-size: .85em;
  }
}

a.sortable{
  &:link, &:visited{
    text-decoration: none;
    color: $base-color-4;
  }
  &:hover {
    background-color: $base-color-1;
    font-weight: bolder;
    color: $base-color-3;
  }
}

.show_for {
  .wrapper {
    margin-bottom: 5px;
    text-indent: -5px;
    .label {
      font-size: 1em;
      color: $base-color-4;
    }
  }
}

// ERROR MESSAGES
.ui-state-error {
  padding: 0.25em;
  .ui-icon{
    float: left;
    margin-right: 0.25em;
  }
  .message{
    font-weight: bold;
    font-size: 0.75em;
  }
}


// WILL_PAGINATE
.pagination {
  margin: 10px 0px 10px 0px;
  background: lighten($base-color-3, 30%);
  text-align:center;
  //  padding:1em;
  font-size: .75em;
  cursor:default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled{
    color:#aaaaaa
  }
  .current {
    font-style:normal;
    font-weight:bold;
    color: $base-color-3;
    background-color: $base-color-1;
    display:inline-block;
    width:1.4em;
    height:1.4em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius:1em;
    padding-top: 0.5em;
  }
  a{
    text-decoration:none;
    color: $base-color-1;
    &:hover, &:focus{
      font-weight: bold;
      background-color: $base-color-2;
      text-decoration: none;
    }
  }
}

// AWESOME FONT
.fa-btn{
  font-size: .75em;
  padding: 7px 8px 6px 5px;
  border-radius: 6px;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  background: asset-url('shade_01.png', image) repeat top $base-color-2;
  color: $base-color-3;
  border: 1px solid lightgrey;
  &:hover, &:focus{
    background-color: #ffffff;
    border: 1px solid $base-color-3;
    font-weight: bold;
  }
  span{
    font-family: $font-family;
  }
}

// SIMPLE FORM
.simple_form {
  .input .string, .input .password, .input .select, .input .email {
    display: block;
    clear: both;
  }
  label{
    font-weight: bold;
    margin-bottom: 5px;
  }
}