/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "base";

//Tables

.tbl-search{
  @include two-columns(7,5);
}

.tbl-sign-in{
  @include prepend(6);
  @include column(12);
}

.tbl-users{
  @include four-columns(9,9,3,3);
}

.error-explanation, .alert-notice, #delete-dialog {
  .ui-state-error, .ui-state-highlight {
    padding: 5px;
  }
  .icon{
    float: left;
  }
  .message{
    font-weight: bold;
  }
  ul{
    list-style-type: disc;
    padding-left: 2em;
  }
}

.simple_form {
  .input .string, .input .password, .input .select, .input .email {
    display: block;
    clear: both;
  }
  label{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
  }
}


//MARGINS
.tbl-users.t-head{
  margin-top: 1em;
}

#tbl-menu{
  @include three-columns(18,2,4)
}

//TODO move this to base.css
.ui-menu{
  border-radius: 4px;
  border: solid #ffffff 1px;
  z-index : 9999;
}

//.ui-menu-item{
//  z-index : 9999;
//  text-align: right;
//  border-radius: 4px;
//  border: solid #ffffff 2px;
//}

a.sortable{
  &:link, &:visited{
    text-decoration: none;
    color: $base-color-4;
//    font-weight: bolder;
  }
  &:hover {
    background-color: $base-color-1;
    font-weight: bolder;
    color: $base-color-3;
  }
}

.show_for {
  .wrapper {
    margin-bottom: 5px;
    text-indent: -5px;
    .label {
      font-size: 14px;
      color: $base-color-4;
    }
  }
}

.error-explanation, .alert-notice, #delete-dialog {
  font-size: 12px;
  .ui-state-error, .ui-state-highlight {
    padding: 5px;
  }
  .icon{
    float: left;
  }
  .message{
    font-weight: bold;
  }
  ul{
    list-style-type: disc;
    padding-left: 2em;
  }
}

//.ui-dialog-content{
//  overflow: hidden;
//}
