#tbl-menu
  .col-1
    &nbsp
  .col-2
    %ul#admin-menu
      %li
        %a Catálogos
        %ul
          %li#options
            - if controller_name == 'users'
              =label_tag t('titles.users'), nil, class: 'ui-state-disabled'
            - else
              =link_to t('titles.users'), admin_users_path
          %li
            - if controller_name == 'system_configs'
              =label_tag t('titles.system_config'), nil, class: 'ui-state-disabled'
            - else
              =link_to t('titles.system_config'), admin_system_config_path
          %li
            =link_to t('commands.sign_out'), destroy_devise_user_session_path, method: :delete
