-#Translate messages
.icon.ui-icon.ui-icon-alert
.message
  Este registro será eliminado de forma permanente.
  %br
  ¿Está seguro?"
.sp
.t-right
  -# You should pass parameter "record"
  =link_to 'Aceptar', record, :method => :delete, :remote => true, :class => 'fa fa-btn fa-border'
  =link_to_function 'Cancelar', "$('#delete-dialog').dialog('close');", :class => 'fa fa-btn fa-border'
