-if errors.try(:any?)
  .error-explanation
    .ui-state-error.ui-corner-all
      .icon.ui-icon.ui-icon-alert
      .message
        = "#{errors.count} error(es) impiden guardar este registro."
      %ul
        - errors.full_messages.each do |msg|
          %li
            = msg